<template name="header">
    <header class="navbar">
        <div id="menu" class="navbar-inner">
            <div class="menu-block">
            </div>

            <div class="menu-block right">

                <a href="{{pathFor 'showsList'}}" class="menu-option uppercase">
                    <i class="fa fa-play"></i>
                    Series
                </a>
                <a id="btn-signup" class="menu-option uppercase">
                    <i class="fa fa-calendar"></i>
                    Calendar
                </a>
                <a id="btn-login" class="menu-option uppercase">
                    <i class="fa fa-history"></i>
                    History
                </a>
                <a class="menu-option uppercase">
                    <i class="fa fa-cog"></i>
                    Settings
                </a>

            </div>

            <div class="menu-block search" style="padding-left: 10px;">
                <div class="input-group">

                    <input class="form-control search-input" type="text" />
                    <span class="input-group-btn">
                        <button class="btn btn-primary btn-search" type="button">
                            <i class="fa fa-fw fa-search"></i>
                        </button>
                    </span>

                </div>
            </div>

            <div class="menu-block">
                {{> notificationsMenu}}
            </div>

            <div class="nav-collapse collapse">
            </div>
        </div>
    </header>
</template>
