<template name="header">
    <header class="navbar">
        <div class="navbar-inner">
            <div class="nav-collapse">
                <ul class="nav pull-right">
                    <li>
                        <form class="form form-horizontal">
                            <input class="form-control search-input" type="text" placeholder="Search" />
                        </form>
                    </li>
                </ul>

                <ul class="nav pull-right">
                    <li>
                        {{> notificationsMenu}}
                    </li>
                </ul>

                <ul class="nav">
                    <li>
                    <a href="{{pathFor 'showsList'}}" class="uppercase">
                        <i class="fa fa-play"></i>
                        Series
                    </a>
                    </li>
                    <li>
                    <a id="btn-signup" class="uppercase">
                        <i class="fa fa-calendar"></i>
                        Calendar
                    </a>
                    </li>
                    <li>
                    <a id="btn-login" class="uppercase">
                        <i class="fa fa-history"></i>
                        History
                    </a>
                    </li>
                    <li>
                    <a href="{{pathFor 'settingsPage'}}" class="uppercase">
                        <i class="fa fa-cog"></i>
                        Settings
                    </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
</template>
