<template name="seasonsItem">
    <div class="season-heading">
        <h3>Season {{number}} <i class="season-status fa fa-circle-o success"></i></h3>
        <div class="actions">
            <div class="dropdown pull-right">
                <button class="btn btn-unstyled btn-lg dropdown-toggle" type="button" id="season-{{number}}-actions" data-toggle="dropdown">
                    <i class="fa fa-ellipsis-h"></i>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="season-{{number}}-actions">
                    <li role="presentation"><a href="#" role="menuitem" tabindex="-1" class="x-search-season-wanted" data-season-id="{{_id}}">Search Wanted Episodes</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="episodes">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>#</th>
                    <th>Name</th>
                    <th>Air Date</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {{#each episodes}}
                {{> episodesItem}}
            {{/each}}
            </tbody>
        </table>
    </div>
</template>
