<template name="seasonsItem">
    <div class="season-heading">
        <h3>Season {{number}} <i class="season-status fa fa-circle-o success"></i></h3>
        <div class="actions">
            <div class="dropdown pull-right">
                <button class="btn btn-unstyled btn-lg dropdown-toggle" type="button" id="season-{{number}}-actions" data-toggle="dropdown">
                    <i class="fa fa-ellipsis-h"></i>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="season-{{number}}-actions">
                    <li role="presentation"><a href="#" role="menuitem" tabindex="-1" class="x-search-season-wanted" data-season-id="{{_id}}">Search Wanted Episodes</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="episodes">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>#</th>
                    <th>Name</th>
                    <th>Air Date</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {{#each episodes}}
                {{#if name}}
                <tr data-episode="{{_id}}">
                    <td class="status-cell">
                        {{#if monitored}}
                            {{#unless file_id}}
                                <i class="fa fa-circle-o monitored {{status}} tip"
                                   data-toggle="tooltip" data-placement="top" title="File missing from disk"></i>
                            {{else}}
                                <i class="fa fa-circle-o monitored {{status}} tip"
                                   data-toggle="tooltip" data-placement="top" title="File present"></i>
                            {{/unless}}
                        {{else}}
                            <i class="fa fa-circle-thin unmonitored {{status}} tip"
                               data-toggle="tooltip" data-placement="top" title="Unmonitored"></i>
                        {{/if}}
                    </td>
                    <td class="number-cell">{{number}}</td>
                    <td class="title-cell">
                        <a href="#">{{name}}</a>
                        {{#if overview}}
                        <span class="pull-right tip fa fa-info-circle tip-overview"
                              data-toggle="tooltip" data-placement="right" title="{{overview}}"></span>
                        {{/if}}
                    </td>
                    {{#if air_date}}
                    <td class="air-date-cell">{{shortDate air_date}}</td>
                    {{else}}
                    <td class="air-date-cell">Not yet scheduled</td>
                    {{/if}}
                    <td class="progress-cell">
                        <div class="progress progress-xs">
                            <div class="progress-bar progress-bar-info" role="progressbar"
                                 aria-valuenow="66" aria-valuemin="0" aria-valuemax="100" style="width: 66%;">
                                66%
                            </div>
                        </div>
                    </td>
                    <td class="actions-cell">
                        <button class="btn btn-default btn-xs x-search-episode" title="Automatic search">
                            <i class="fa fa-search"></i>
                        </button>
                    </td>
                </tr>
                {{/if}}
            {{/each}}
            </tbody>
        </table>
    </div>
</template>
