<template name="settingsMediaManagement">
    <h4>
        Episode Naming
    </h4>
    <div class="form-group">
        <label class="col-sm-3 control-label">
            Rename Episodes
        </label>
        <div class="col-sm-8">
            <div class="input-group checkbox checkbox-primary">
                <input type="checkbox" name="rename_episodes" id="rename_episodes" checked>
                <label for="rename_episodes">
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label clear">
            Include Show Title
        </label>
        <div class="col-sm-8">
            <div class="input-group checkbox checkbox-primary">
                <input type="checkbox" name="include_show_title" id="include_show_title" checked>
                <label for="include_show_title">
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label clear">
            Include Episode Title
        </label>
        <div class="col-sm-8">
            <div class="input-group checkbox checkbox-primary">
                <input type="checkbox" name="include_show_title" id="include_episode_title" checked>
                <label for="include_episode_title">
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label clear">
            Include Quality
        </label>
        <div class="col-sm-8">
            <div class="input-group checkbox checkbox-primary">
                <input type="checkbox" name="include_show_title" id="include_quality" checked>
                <label for="include_quality">
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label clear">
            Separator
        </label>
        <div class="input-group">
            <select name="separator">
                <option value="period">Period</option>
                <option value="dash">Dash</option>
                <option value="space">Space</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label clear">
            Numbering Style
        </label>
        <div class="input-group">
            <select name="number_style">
                <option value="﻿{season}x{episode:00}">1x05</option>
                <option value="﻿{season:00}x{episode:00}">01x05</option>
                <option value="﻿S{season:00}E{episode:00}">S01E05</option>
                <option value="﻿s{season:00}e{episode:00}}">s01e05</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label clear">
            Season Folder Format
        </label>
        <div class="input-group">
            <input class="form-control" type="text" name="season_folder_format" value="Season {season}" />
        </div>
    </div>
</template>
