<template name="showsPage">
    <div id="show" class="content col-md-12">
        <div class="title col-md-12">
            <h2 class="pull-left">{{name}}</h2>
            <div class="toolbar pull-right">
                <div class="btn-group btn-group-collapse">
                    <a class="btn btn-default x-update-show" data-toggle="modal" data-show-id="{{_id}}">
                        <i class="fa fa-refresh"></i>
                        Update
                    </a>
                    <a class="btn btn-default">
                        <i class="fa fa-cog"></i>
                        Settings
                    </a>
                </div>
            </div>
        </div>
        <div class="labels">
            <div class="labels-generic-info pull-left">
                <span class="label label-info">
                    {{network}}
                </span>
                <span class="label label-default">
                    {{runtime}} minutes
                </span>
                {{#if ended}}
                <span class="label label-danger">
                    {{status}}
                </span>
                {{/if}}
            </div>
            <div class="labels-server-info pull-right">
                <span class="label label-default">
                    {{profile.name}}
                </span>
            </div>
        </div>
        <div class="content col-md-12">
            <div class="row">
                <div class="poster-container col-md-2 col-xs-3">
                    {{#if posterUrl}}
                        <img class="shows-poster" src="{{posterUrl}}" />
                    {{else}}
                        <img class="shows-poster" src="images/placeholder.jpg" />
                    {{/if}}
                    <div class="row">
                        <div class="links col-md-12">
                            <a href="http://trakt.tv/show/{{slug}}" class="label label-info">
                                TRAKT
                            </a>
                            <a href="http://thetvdb.com/?tab=series&id={{tvdb_id}}" class="label label-info">
                                TVDB
                            </a>
                            <a href="http://imdb.com/title/{{imdb_id}}" class="label label-info">
                                IMDB
                            </a>
                        </div>
                    </div>
                </div>
                <div class="overview col-md-10 col-xs-9">
                    {{overview}}
                    {{#each seasons}}
                        <div class="row">
                            <div class="season col-md-12">
                                {{> seasonsItem}}
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>

        </div>
    </div>
</template>
