<template name="showsItem">
    <div class="row">
        <div class="next-air col-md-1 col-xs-1">
            {{#if ready}}
                {{#if next_airing}}
                <div class="value">
                    {{dayOfMonth next_airing}}
                </div>
                <div class="units uppercase">
                    {{shortMonth next_airing}}
                </div>
                {{/if}}
            {{else}}
                <div class="loader"></div>
            {{/if}}
        </div>
        <div class="col-md-2 col-xs-3">
            {{#if posterUrl}}
            <img class="shows-poster" src="{{posterUrl}}" />
            {{else}}
            <img class="shows-poster" src="images/placeholder.jpg" />
            {{/if}}
        </div>
        <div class="col-md-9 col-xs-8">
            <div class="row">
                <div class="col-md-10 col-xs-10">
                    {{#if ready}}
                    <h3 class="shows-item-title"><a href="#">{{name}}</a></h3>
                    {{else}}
                    <h3 class="shows-item-title">{{name}}</h3>
                    {{/if}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <p class="shows-overview">
                        {{overview}}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    {{#if next_airing}}
                        <span class="label label-info tip" data-toggle="tooltip" data-placement="top" title="{{date next_airing}}">
                            {{dayOfWeek next_airing}}
                        </span>
                    {{/if}}
                    <span class="label label-primary">
                        Season {{currentSeason}}
                    </span>
                    <span class="label label-default">
                        HD - All
                    </span>
                </div>
                <div class="col-md-2">
                    <div class="progress">
                        {{#if downloadedEpisodesPercentage}}
                        <span class="progress-behind">
                            {{downloadedEpisodesCount}} / {{episodesCount}}
                        </span>
                        {{/if}}
                        <div class="progress-bar progress-bar-info" role="progressbar"
                             aria-valuenow="{{downloadedEpisodesCount}}" aria-valuemin="0" aria-valuemax="{{episodesCount}}" style="width: {{downloadedEpisodesPercentage}}%;">
                            {{downloadedEpisodesCount}} / {{episodesCount}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
