<template name="showsPage">
    <div id="show" class="content col-md-12">
        <div class="title col-md-12">
            <h2 class="pull-left">{{name}}</h2>
            <div class="toolbar pull-right">
                <div class="btn-group btn-group-collapse">
                    <a class="btn btn-default x-update-show" data-toggle="modal" data-show-id="{{_id}}">
                        <i class="fa fa-refresh"></i>
                        Update
                    </a>
                    <a class="btn btn-default" data-toggle="modal" data-target="#modal-edit-show-{{_id}}">
                        <i class="fa fa-cog"></i>
                        Settings
                    </a>
                </div>
            </div>
        </div>
        <div class="labels">
            <div class="labels-generic-info pull-left">
                <span class="label label-info">
                    {{network}}
                </span>
                <span class="label label-default">
                    {{runtime}} minutes
                </span>
                {{#if ended}}
                <span class="label label-danger">
                    {{status}}
                </span>
                {{/if}}
            </div>
            <div class="labels-server-info pull-right">
                <span class="label label-default">
                    {{profile.name}}
                </span>
            </div>
        </div>
        <div class="content col-md-12">
            <div class="row">
                <div class="poster-container col-md-2 col-xs-3">
                    {{#if posterUrl}}
                        <img class="shows-poster" src="{{posterUrl}}" />
                    {{else}}
                        <img class="shows-poster" src="images/placeholder.jpg" />
                    {{/if}}
                    <div class="row">
                        <div class="links col-md-12">
                            <a href="http://trakt.tv/show/{{slug}}" class="label label-info">
                                TRAKT
                            </a>
                            <a href="http://thetvdb.com/?tab=series&id={{tvdb_id}}" class="label label-info">
                                TVDB
                            </a>
                            <a href="http://imdb.com/title/{{imdb_id}}" class="label label-info">
                                IMDB
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="episodes-statuses">
                            <h5>Episodes Statuses</h5>
                            <ul>
                                <li>
                                    <i class="fa fa-circle-o monitored unaired"></i>
                                    Monitored Unaired
                                </li>
                                <li>
                                    <i class="fa fa-circle-o monitored wanted"></i>
                                    Monitored Wanted
                                </li>
                                <li>
                                    <i class="fa fa-circle-o monitored pending"></i>
                                    Monitored Pending
                                </li>
                                <li>
                                    <i class="fa fa-circle-o monitored downloading"></i>
                                    Monitored Downloading
                                </li>
                                <li>
                                    <i class="fa fa-circle-o monitored paused"></i>
                                    Monitored Paused
                                </li>
                                <li>
                                    <i class="fa fa-circle-o monitored checking"></i>
                                    Monitored Checking
                                </li>
                                <li>
                                    <i class="fa fa-circle-o monitored done"></i>
                                    Monitored Done
                                </li>
                                <li>
                                    <i class="fa fa-circle-o monitored failed"></i>
                                    Monitored Failed
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="overview col-md-10 col-xs-9">
                    {{overview}}
                    {{#each seasons}}
                        <div class="row">
                            <div class="season col-md-12">
                                {{> seasonsItem}}
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="modal-edit-show-{{_id}}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Edit Show <strong>{{name}}</strong></h4>
                </div>
                <div class="modal-body">
                    <form class="edit-show-form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                Profile
                            </label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <select name="profile_id">
                                        {{#each availableProfiles}}
                                            {{#if isCurrentProfile}}
                                                <option value="{{_id}}" selected>{{name}}</option>
                                            {{else}}
                                                <option value="{{_id}}">{{name}}</option>
                                            {{/if}}
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary x-edit-show" data-show-id="{{_id}}">Save</button>
                </div>
            </div>
        </div>
    </div>
</template>
