<template name="showsSearch">
    <div id="shows" class="col-md-12">
        <div class="title col-md-12">
            <h2 class="pull-left">Add Shows</h2>
            <div class="toolbar pull-right">
                <div class="input-group">
                    <input id="shows-search-field" class="form-control search-input" type="text" placeholder="Search" />
                </div>
            </div>
        </div>
        {{#if showsLoaded}}
            {{#if shows}}
                <ul id="shows-list">
                    {{#each shows}}
                        <li class="shows-item">
                            {{> showsSearchItem}}
                        </li>
                    {{/each}}
                </ul>
            {{else}}
                <p class="default-message">Start searching shows</p>
            {{/if}}
        {{else}}
            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        {{/if}}
    </div>
</template>
