<template name="showsItem">
    <div class="row">
        <div class="next-air col-md-1 col-xs-1">
            {{#if ready}}
                {{#if next_airing}}
                <div class="value">
                    {{dayOfMonth next_airing}}
                </div>
                <div class="units uppercase">
                    {{shortMonth next_airing}}
                </div>
                {{/if}}
            {{else}}
                <div class="loader"></div>
            {{/if}}
        </div>
        <div class="col-md-2 col-xs-3">
            {{#if posterUrl}}
            <img class="shows-poster" src="{{posterUrl}}" />
            {{else}}
            <img class="shows-poster" src="images/placeholder.jpg" />
            {{/if}}
        </div>
        <div class="col-md-9 col-xs-8">
            <div class="row">
                <div class="col-md-10 col-xs-10">
                    <h3 class="shows-item-title"><a href="{{pathFor 'showsPage'}}">{{name}}</a></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <p class="shows-overview">
                        {{overview}}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    {{#if next_airing}}
                        <span class="label label-info tip" data-toggle="tooltip" data-placement="top" title="{{date next_airing}}">
                            {{dayOfWeek next_airing}}
                        </span>
                    {{/if}}
                    <span class="label label-primary">
                        Season {{currentSeason}}
                    </span>
                    <span class="label label-default">
                        {{profile.name}}
                    </span>
                </div>
                <div class="col-md-2">
                    <div class="progress progress-xs">
                        <div class="progress-bar progress-bar-info" role="progressbar"
                             aria-valuenow="{{downloadedEpisodesCount}}" aria-valuemin="0" aria-valuemax="{{episodesCount}}" style="width: {{downloadedEpisodesPercentage}}%;">
                            {{downloadedEpisodesCount}} / {{episodesCount}}
                        </div>
                    </div>
                    <div class="progress-info">
                        {{downloadedEpisodesCount}} / {{episodesCount}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="show-actions">
        <div class="btn-group">
            <button class="btn btn-default" data-toggle="modal" data-target="#modal-edit-show-{{_id}}">
                <i class="fa fa-pencil"></i>
            </button>
            <button class="btn btn-default">
                <i class="fa fa-refresh"></i>
            </button>
        </div>
    </div>
    <div class="modal fade" id="modal-edit-show-{{_id}}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Edit Show <strong>{{name}}</strong></h4>
                </div>
                <div class="modal-body">
                    <form class="edit-show-form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                Profile
                            </label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <select name="profile_id">
                                        {{#each availableProfiles}}
                                            {{#if isCurrentProfile}}
                                                <option value="{{_id}}" selected>{{name}}</option>
                                            {{else}}
                                                <option value="{{_id}}">{{name}}</option>
                                            {{/if}}
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary x-edit-show" data-show-id="{{_id}}">Save</button>
                </div>
            </div>
        </div>
    </div>
</template>
