<template name="showsList">
    <div id="shows" class="content col-md-12">
        <div class="title col-md-12">
            <h2 class="pull-left">Shows</h2>
            <div class="toolbar pull-right">
                <div class="btn-group btn-group-collapse">
                    <a href="{{pathFor 'showsSearch'}}" class="btn btn-default" data-toggle="modal">
                        <i class="fa fa-plus"></i>
                        Add Show
                    </a>
                    <a class="btn btn-default x-refresh-shows">
                        <i class="fa fa-refresh"></i>
                        Update
                    </a>
                </div>
            </div>
        </div>
        <ul id="shows-list">
        {{#each shows}}
            <li class="shows-item">
                {{> showsItem}}
            </li>
        {{/each}}
        </ul>
    </div>
</template>
