@import "mixins";

ul#popover-notifications-list {
  list-style: none;
  padding-left: 0;

  li {
    clear: both;
    padding: 15px 18px;
    display: block;
    color: #8B91A0;
    margin-bottom: 10px;
    border-radius: 3px;
    overflow: hidden;

    .icon {
      display: inline-block;
      float: left;
      height: 35px;
      overflow: hidden;
      width: 35px;
      margin-right: 10px;
      margin-top: 2px;
      font-size: 35px;
      text-align: center;
    }

    .message-wrapper {
      display: inline-block;
      width: 70%;
      //height: 43px;
      float: left;

      .heading {
        display: block;
        float: left;
        text-align: left;
        color: #1B1E24;
        font-size: 13px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
        width: 100%;
        margin: 0px;
        line-height: 19px;
        font-weight: 600;
      }

      .description {
        display: block;
        float: left;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
        font-size: 12px;
        width: 100%;
        line-height: 19px;
      }

      .date {
        display: inline-block;
        font-size: 11px;
        line-height: 15px;
        font-style: italic;
        opacity: 0.4;
      }
    }
  }

  li.info {
    background-color: #D8EBF4;

    .icon {
      color: darken(#D8EBF4, 15%);
    }
  }

  li.error {
    background-color: #FEF2F2;

    .icon {
      color: darken(#FEF2F2, 15%);
    }
  }

  li.success {
    background-color: #D9EDF1;

    .icon {
      color: darken(#D9EDF1, 15%);
    }
  }
}

ul#popover-notifications-list {
  width: 300px;
}

ul#notifications-list {
  clear: both;
  list-style: none;
  padding-left: 0;
  padding-right: 0;

  li.notifications-item > div.row:first-child {
    margin: 0;
  }

  li.notifications-item {
    position:relative;
    border-bottom: 1px dotted #E0E0E0;

    .icon {
      margin-top: 2px;
      font-size: 35px;
      text-align: center;
      .vertical-align;
      line-height: 28px;
    }

    .notifications-item-title {
      display: inline-block;
      margin-bottom: 20px;
      font-size: 18px;

      strong {
        font-weight: 400;
      }
    }

    .notifications-item-time {
      color: #A5A5A5;
      font-size: 12px;
      font-weight: 300;
      margin-top: 20px;
      margin-left: 10px;
      display: inline-block;
      font-style: italic;
    }

    .description {
      clear: both;
      color: #A5A5A5;
      font-weight: 300;
    }

    div.info {
      background-color: #D8EBF4;

      .icon {
        color: darken(#D8EBF4, 15%);
      }
    }

    div.error {
      background-color: #FEF2F2;

      .icon {
        color: darken(#FEF2F2, 15%);
      }
    }

    div.success {
      background-color: #D9EDF1;

      .icon {
        color: darken(#D9EDF1, 15%);
      }
    }
  }

  li.notifications-item:last-child {
    border-bottom: 0;
  }
}
