#show {
  .content {
    margin-top: 5px;
    padding: 20px;
    box-shadow: 0 0;

    .shows-poster {
      min-width: 56px;
      max-width: 100%;

      margin-top: 20px;
      margin-bottom: 20px;
    }

    .overview {
      margin-top: 20px;
    }
  }
}


// Seasons
.season {
  h3 {
    border-bottom: 1px solid #E7EAEC;
    padding: 14px 15px 7px;

    .season-status {
      margin-left: 10px;
    }
  }

  .episodes {
    padding: 15px 20px 20px;

    .table {
      .status-cell {
        width: 28px;
      }
      .number-cell {
        width: 22px;
      }

      .title-cell {
        max-width: 250px;
      }

      .air-date-cell {
        width: 150px;
      }

      .progress-cell {
        width: 100px;
        max-width: 100px;

        .progress {
          .translate(0, 200%);
        }
      }

      .actions-cell {
        width: 40px;
      }
    }

    .tip-overview {
      margin-right: 20px;
      vertical-align: middle;
      font-size: 1.2em;
      cursor: pointer;
    }
  }
}
