#show {
  .content {
    margin-top: 5px;
    padding: 20px;
    box-shadow: 0 0;

    .shows-poster {
      min-width: 56px;
      max-width: 100%;

      margin-top: 20px;
      margin-bottom: 20px;
    }

    .overview {
      margin-top: 20px;
      color: @overviews-color;
    }
  }
}


// Seasons
.season {
  .season-heading {
    position: relative;
    border-bottom: 1px solid #E7EAEC;
    padding: 14px 15px 7px;

    h3 {
      .season-status {
        margin-left: 10px;
      }
    }

    .actions {
      position: absolute;
      right: 0;
      bottom: 10px;

      .btn {
        padding: 0;
      }
    }
  }

  .episodes {
    padding: 15px 20px 20px;

    .table {
      .status-cell {
        width: 28px;
      }
      .number-cell {
        width: 22px;
      }

      .title-cell {
        max-width: 250px;
      }

      .air-date-cell {
        width: 150px;
      }

      .progress-cell {
        width: 100px;
        max-width: 100px;

        .progress {
          .translate(0, 200%);
        }
      }

      .actions-cell {
        width: 80px;
      }
    }

    .tip-overview {
      margin-right: 20px;
      vertical-align: middle;
      font-size: 1.2em;
      cursor: pointer;
    }
  }
}


// Episodes statuses
.unmonitored.unaired {
  color: @unmonitored-unaired;
}
.unmonitored.aired {
  color: @unmonitored-aired;
}
.unmonitored.downloaded {
  color: @unmonitored-downloaded;
}

.monitored.unaired {
  color: @monitored-unaired;
}
.monitored.wanted {
  color: @monitored-wanted;
}
.monitored.pending {
  color: @monitored-pending;
}
.monitored.downloading {
  color: @monitored-downloading;
}
.monitored.paused {
  color: @monitored-paused;
}
.monitored.downloaded {
  color: @monitored-downloaded;
}
.monitored.checking {
  color: @monitored-checking;
}
.monitored.done {
  color: @monitored-done;
}
.monitored.failed {
  color: @monitored-failed;
}

.episodes-statuses {
  h5 {
    //font-weight: 300;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #EFEFEF;
  }

  h6 {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 14px;
  }

  ul {
    list-style: none;

    li {
      font-weight: 300;
      color: #A5A5A5;
      margin-bottom: 2px;

      i {
        margin-right: 4px;
      }
    }
  }
}
