@import "mixins";

html, body {
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  background: #EFEFEF;
  color: #5A5A5A;
}

h1, h2, h3, h4 {
  font-weight: 300;
}

h3 {
  font-size: 28px;
}

a, a:link, a:visited {
  color: #A5A5A5;
  cursor: pointer;
}

header.navbar {
  position: relative;
  height: 60px;
  background-color: #FFF;
  border-bottom: 1px solid #E0E0E0;
}

#container {

  table {

    th:first-of-type, td:first-of-type {
      padding-left: 20px;
    }

    tr {
      td {
        padding: 10px 5px;
      }
    }
  }
}

// Menu
#menu {
  display: table;
  height: 100%;
  margin: auto;
  max-width: 1900px;
  width: 90%;

  .menu-block {
    vertical-align: middle;
    display: table-cell;
    text-align: right;

    .menu-option {
      display: inline-block;
      position: relative;
      font-weight: 700;
      font-size: 12px;
      margin-left: 15px;
      border-right: 1px solid #E0E0E0;
      padding-right: 15px;

      i {
        margin-right: 5px;
      }
    }

    .menu-option:last-child {
      border-right: 0;
    }
  }
}

.title {
  background: #F7F7F7;
  border-bottom: 1px dotted #E0E0E0;

  h2 {
    margin-top: 10px;
  }

  .toolbar {
    margin-top: 10px;

    .btn {
      font-size: 12px;
      text-transform: uppercase;
    }
  }
}



.content {
  background: #FFFFFF;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  padding: 0;
  margin-bottom: 20px;
}

#shows-list {
  list-style: None;
  padding-left: 0;
  clear: both;
  margin-bottom: 0;

  li.shows-item {
    position:relative;
    padding: 10px 24px;
    border-bottom: 1px dotted #E0E0E0;

    .shows-poster {
      min-width: 56px;
      max-width: 100%;

      margin-top: 20px;
      margin-bottom: 20px;
    }

    h3.shows-item-title {
      display: inline-block;

      a, a:focus, a:visited, a:hover {
        color: #5A5A5A;
        text-decoration: none;
      }
    }

    .shows-title-bar {
      .shows-year {
        color: #A5A5A5;
        font-size: 28px;
        font-weight: 300;
        margin-top: 20px;
        margin-left: 10px;
        display: inline-block;
      }

      .label {
        display: inline-block;
        padding: 0.4em;
        .vertical-align-negative;
      }
    }

    .shows-overview {
      clear: both;
      color: #A5A5A5;
    }

    .shows-search-labels {
      padding-bottom: 20px;
    }

    .shows-search-options {
      position: relative;
      border-bottom: 1px solid rgba(0, 0, 0, 0.06);

      label {
        font-weight: 400;
      }

      select {
        font-weight: 300;
      }
    }

    .shows-search-actions {
      .add-button {
        .btn {
          margin-top: -1px;
          border-radius: 0px 0px 3px 3px;
          border-top: 0;
        }
      }
    }

    .next-air {
      .vertical-align;
      text-align: center;

      .value {
        color: #54C5CC;
        font-weight: 300;
        font-size: 60px
      }

      .units {
        font-size: 24px;
        font-weight: 300;
      }
    }

    .progress {
      position: relative;

      .progress-behind {
        position: absolute;
        z-index: 0;
        overflow: hidden;
        font-size: 12px;
        line-height: 20px;
        height: 100%;
      }

      .progress-bar {
        position: absolute;
      }
    }
  }

  li.shows-item:last-child {
    border-bottom: 0;
  }
}

.btn.btn-sm {
  font-size: 11px;
  font-weight: 700;
  padding: 5px 10px;
}
.btn-default, .btn-default:focus, .btn-default:active {
  border-color: #E0E0E0;
  color: #A5A5A5;
  background: #FFFFFF;
}

.btn {
  border-radius: 0px;
  font-weight: 700;
}

.btn-primary {
  background: linear-gradient(#54C5CC, #3ABCC2) repeat scroll 0% 0% transparent;
  border-color: #36B0B7;
  color: #FFF !important;
}

.badge-important {
  background: #F35958;
}

.notification-toggle {
  a {
    z-index: 2;
  }

  .badge {
    position: relative;
    top: -10px;
    right: 10px;
  }
}

.form-control:focus {
  border-color: #36B0B7;
  outline: 0px none;
  box-shadow: 0 0 0;
}

.label {
  margin-right: 0.8em;
}

.uppercase {
  text-transform: uppercase;
}


.col-centered{
  float: none;
  margin: 0 auto;
}

.default-message {
  clear: both;
  color: #A5A5A5;
  font-style: italic;
  margin: auto;
  padding: 20px 0;
  text-align: center;
}

// Iron progress bar
#iron-router-progress.spinner {
  margin: 0;
}
