@base-color: #5A5A5A;
@light-color: #A5A5A5;
@overviews-color: #858585;
@success: #099A8C;
@info: #5BC0DE;
@error: #ED5565;
@warning: #F8AC59;
@default: @light-color;


// Container title
@title-background: #F7F7F7;
@title-color: inherit;


// Episodes statuses
@unmonitored-unaired: #A5A5A5;
@unmonitored-aired: #72A5A4;
@unmonitored-downloaded: #099A8C;
@monitored-unaired: #8EA2A5;
@monitored-wanted: #F8AC59;
@monitored-pending: #a0daf8;
@monitored-downloading: #08C8F8;
@monitored-paused: #f89aa9;
//@monitored-paused: #08C8F8;
@monitored-downloaded: #099A8C;
@monitored-checking: #9bd5a7;
@monitored-done: #099A8C;
@monitored-failed: #ED5565;
